.container{
    background-color: rgb(34, 0, 129);
    width: 900px;
  }
  
  .nav{
    background-color: #e91111;
  }
  
  .nav-link{
    color: rgba(247, 247, 247, 0.822);
    font-weight: bold;
    text-decoration: none;
  }
  
  main{
    color: rgb(216, 95, 25);
    padding: 1rem;
  }
  
  footer p{
    color: rgb(236, 40, 148);
    text-align: center;
  }